* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: white;
  display: flex;
  justify-content: start;
  height: 50px;
  margin-bottom: 15px; }
  header div img {
    margin: 5px  20px; }
  header nav {
    margin: 5px; }
    header nav .nav-item {
      text-align: center;
      justify-content: center; }
    header nav .menu {
      display: flex;
      justify-content: center; }
    header nav .nav-bar {
      color: black;
      padding: 8px 16px; }

@media (max-width: 600px) {
  #opciones {
    font-size: small;
    text-align: center;
    background-color: #8f8f8c; }
  .principal .caba {
    text-align: inherit;
    line-height: 1rem; } }

section {
  display: flex;
  text-align: center;
  justify-content: end;
  background-color: #8f8f8c; }
  section .sede {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 40%;
    padding-top: 40px;
    padding-right: 20px; }
    section .sede .sedeCentral {
      color: wheat;
      font-weight: bold;
      line-height: 40%;
      padding: 0; }

footer {
  display: flex;
  background-color: #8f8f8c; }
  footer .redes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: left;
    padding-top: 30px;
    padding-left: 10 px;
    line-height: 40px; }

/* ESTILOS PAGINA PRINCIPAL*/
.principal {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.4fr 2fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "main main main" "footer footer sede"; }

.principal header {
  grid-area: header; }

.principal main {
  grid-area: main; }

.principal footer {
  grid-area: footer;
  padding-left: 15px; }

.principal section {
  grid-area: sede;
  padding-top: 10px; }

main .inicio {
  padding: 10px;
  background-image: url(../asset/inicio.jpeg);
  height: 90vh;
  background-position: 40%;
  overflow: hidden; }
  main .inicio h1 {
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.699);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 70px; }
  main .inicio p {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.699);
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif; }

/*Estilos pagina la empresa*/
@media (max-width: 600px) {
  header {
    padding-left: 30px;
    padding-bottom: 30px; }
  .textoHistoria {
    width: 350px;
    padding-left: 40px;
    margin-left: 30px; }
  .laEmpresa .fclientes {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px; }
    .laEmpresa .fclientes p {
      width: 150px; }
  .laEmpresa section {
    width: 300px;
    padding: 0px; }
    .laEmpresa section .sede {
      width: 300px;
      margin-right: 10px; }
  .laEmpresa .redes {
    margin-left: 40px; } }

.laEmpresa {
  background-color: #8f8f8c;
  height: 600px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.4fr 2fr 1fr 1fr;
  grid-template-areas: "header header header" "main  main  main" "footer footer section"; }
  .laEmpresa .nuestraHistoria {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: solid;
    padding-bottom: 40px; }
    .laEmpresa .nuestraHistoria .textoHistoria {
      color: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 20px; }
  .laEmpresa .imagen {
    display: flex;
    justify-content: center;
    margin: 70px; }
  .laEmpresa .imagen-uno {
    display: flex;
    justify-content: center; }
  .laEmpresa .imagen {
    display: none; }

.laEmpresa header {
  grid-area: header; }

.laEmpresa main {
  grid-area: main; }

.laEmpresa footer {
  grid-area: footer;
  padding: 20px;
  line-height: 40%;
  width: 200px; }

.laEmpresa section {
  grid-area: section;
  padding-top: 20px; }

@media screen and (min-width: 600px) {
  .laEmpresa .historia {
    text-align: center; }
  .laEmpresa .nuestraHistoria {
    text-align: center; }
  .laEmpresa .imagen {
    display: block;
    display: flex;
    justify-content: center; }
  .laEmpresa .imagen-uno {
    display: none; } }

/* estilos Pagina Servicios */
.service main {
  background-color: #8f8f8c; }

.service footer .redes {
  width: 150px;
  margin-left: 20px; }

.service footer section {
  padding: 0px; }
  .service footer section .sede {
    padding-top: 30px;
    margin: 0px;
    width: 250px; }
    .service footer section .sede .caba {
      width: 200px;
      padding-left: 0px;
      margin: 0;
      text-align: center; }

.servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 25%); }
  .servicios .consultoria {
    padding: 50px;
    text-align: center; }
  .servicios .tercerizacion {
    padding: 50px;
    text-align: center; }
  .servicios .kpi {
    padding: 50px;
    text-align: center; }
  .servicios .capacitaciones {
    padding: 50px;
    text-align: center; }
  .servicios .textoServicios {
    text-align: center;
    margin: 10px; }
  .servicios main div h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-bottom: 30px; }

.service section .sede {
  text-align: center;
  width: 300px;
  padding-left: 20px; }
  .service section .sede .caba {
    line-height: 1rem;
    width: 150px; }

@media screen and (min-width: 600px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 50%); } }

.service footer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat 2, 50%; }

.service section {
  padding-top: 0px;
  padding-left: 100px; }

.service footer section div {
  width: 200px; }

/*Estilos pagina clientes*/
.clientesPrin {
  height: 600px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.4fr 2fr 2fr;
  background-color: #8f8f8c; }
  .clientesPrin .clientes {
    padding: 40px;
    padding-bottom: 80px; }
  .clientesPrin .fclientes {
    display: flex;
    justify-content: space-between;
    padding-left: 10px; }
  .clientesPrin .sede {
    padding-top: 15px;
    align-items: end;
    padding-right: 20px;
    line-height: 40%;
    text-align: center; }
    .clientesPrin .sede .sedeCentral {
      color: white;
      text-align: center;
      text-decoration: solid; }
  .clientesPrin .fclientes {
    display: flex;
    justify-content: space-between; }
  .clientesPrin .clientes img {
    margin: 30px;
    margin-top: 80px; }
  .clientesPrin .clientes h2 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: solid;
    padding-bottom: 40px; }

@media screen and (max-width: 600px) {
  .clientesPrin main div .hidro {
    padding-left: 20px;
    margin: 30px;
    margin-top: 60px;
    padding-bottom: 0px; }
  .clientesPrin main div .it {
    padding-left: 20px;
    padding-bottom: 0px;
    margin: 30px; }
  .clientesPrin main div .coca {
    padding-left: 20px;
    margin: 30px;
    padding-bottom: 0px; }
  .clientesPrin main div .osde {
    display: none; }
  .clientesPrin main div .rossi {
    display: none; }
  .clientesPrin main div .toyota {
    display: none; }
  .clientesPrin main div .samsung {
    display: none; }
  .clientesPrin main div .megatlon {
    display: none; }
  .clientesPrin main .clienteTitulo {
    width: 300px;
    text-align: center;
    padding: 0;
    margin: 0; }
  .clientesPrin footer div .caba {
    text-align: center;
    line-height: 1rem; }
  .clientesPrin footer div .redes {
    color: aqua;
    height: 200px; }
  .clientesPrin .sede {
    padding-top: 50px; } }

/* Estilos Pagina contacto*/
.pagContacto {
  background-color: #8f8f8c; }
  .pagContacto .fclientes {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20px; }
    .pagContacto .fclientes .sede {
      line-height: 40%;
      padding-right: 20px;
      text-align: center; }
      .pagContacto .fclientes .sede .sedeCentral {
        color: white;
        text-decoration: solid; }

@media screen and (min-width: 600px) {
  .pagContacto .mapa {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 120px;
    padding-right: 50px;
    height: 300px; }
  .pagContacto .formulario {
    display: flex;
    justify-content: center;
    margin: 80px; }
  .pagContacto .imgContacto {
    display: none; }
  .pagContacto .sede {
    padding-top: 20px; } }

@media screen and (max-width: 600px) {
  .pagContacto main .datos p {
    height: 300px;
    width: 300px;
    text-align: start;
    padding-left: 20px; }
  .pagContacto main div .form {
    display: none; }
  .pagContacto main div .imgContacto {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 0px; }
  .pagContacto .mapa {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    padding: 20px;
    padding-left: 20px;
    height: 300px; }
  .pagContacto .formulario {
    display: flex;
    justify-content: center;
    height: 300px; }
  .pagContacto .sede {
    padding-top: 50px; }
    .pagContacto .sede .caba {
      margin: 0px;
      line-height: 1rem; } }

.pagContacto .datos {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40px;
  margin-right: 150px;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: center; }

.pagContacto .contacto {
  padding-top: 60px;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  text-decoration: solid; }
