header{
    background-color: white;
    display: flex;
    justify-content: start;
    padding: 0px;
    
    
    
    div img{
        margin:  5px  20px;
    }

 
    nav{
        margin: 5px;
   
    .nav-item{
        text-align: center;
        justify-content: center;
    }
    .menu{
        display: flex;
        justify-content: center;

    }
    .nav-bar{
        color: black;
        padding: 8px 16px;
    }
    }


}